In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time

# Load previously cleaned csv file
# Output column is the output based on previously created buckets
df = pd.read_csv(r'C:\Rohan\College\1st Year\Spring Quarter\Misc\Datathon\Datathon Dataset\Cleaned_Data.csv')

pd.set_option('display.max_columns', None)
df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,glimepiride,glipizide,glyburide,pioglitazone,rosiglitazone,acarbose,insulin,glyburide-metformin,change,diabetesMed,readmitted,discharge_disposition_description,admission_type_description,output
0,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,59,0,18,0,0,0,276,250.01,255,9,None,None,No,No,No,No,No,No,No,No,No,Up,No,Ch,Yes,>30,Discharged to home,Emergency,1
1,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,11,5,13,2,0,1,648,250,V27,6,None,None,No,No,No,No,Steady,No,No,No,No,No,No,No,Yes,NO,Discharged to home,Emergency,0
2,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,44,1,16,0,0,0,8,250.43,403,7,None,None,No,No,No,No,No,No,No,No,No,Up,No,Ch,Yes,NO,Discharged to home,Emergency,0
3,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,51,0,8,0,0,0,197,157,250,5,None,None,No,No,No,No,Steady,No,No,No,No,Steady,No,Ch,Yes,NO,Discharged to home,Emergency,0
4,35754,82637451,Caucasian,Male,[50-60),2,1,2,3,31,6,16,0,0,0,414,411,250,9,None,None,No,No,No,No,No,No,No,No,No,Steady,No,No,Yes,>30,Discharged to home,Urgent,1

In [7]:
pd.crosstab(df.admission_type_id, df.output, margins=True)

output                 0      1     2      3      4     5     All
admission_type_id
1                  16400  11673  2998  11552   7449  3160   53232
2                   6320   4010  1126   3432   2388   927   18203
3                   6986   3533   959   3957   2133   977   18545
4                      5      1     0      2      1     1      10
5                   1051    607   163   1475   1093   330    4719
6                   1320   1331   265   1095    871   317    5199
7                      5      0     0     16      0     0      21
8                    165     66    21     40     17     6     315
All                32252  21221  5532  21569  13952  5718  100244

In [24]:
import scipy
from scipy.stats import chi2_contingency

ct = pd.crosstab(df.admission_type_id, df.output, margins=True)
row_sum = ct.iloc[0:8,6].values
exp = []
for j in range(8):
    for val in ct.iloc[8,0:6].values:
        exp.append(val * row_sum[j] / ct.loc['All', 'All'])

for i in range(6):
    

((obs - exp)**2/exp).sum()
scipy.stats.chi2_contingency(obs)[0:3]

ValueError: Unable to coerce to Series, length must be 7: given 48